// COLORS 

$primary-color: #183f69;
$secondary-color: #f18c64;
$third-color: #a09bd7;

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function font-weight($weight) {
    @return map-get($font-weights, $weight)
}

$font-family: 'Cormorant Garamond', serif;