// COLORS 

$primary-color: #1e3a57;
$secondary-color: #ff9a8a;
$third-color: #a09bd7;

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-family: 'Cormorant Garamond', serif;