@import 'resets';
@import 'variables';
@import 'grid-layout';
@import 'animations';
@import 'cta';

@mixin flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  @include flexbox();
  color: $primary-color;
  background-color: $secondary-color;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 60px;
  cursor: pointer;

  .brand {
      margin-left: 20px;
      cursor: pointer;
  }

  .nav-lists {
      @include flexbox();
      list-style: none;
      width: 400px;

      .nav-items {
          a {
              text-decoration: none;
              color: $primary-color;
              position: relative;
              font-weight: font-weight(regular);
          }
      }
  }

  .account {
      @include flexbox();
      width: 125px;
      margin-right: 20px;

      .log-in {
          cursor: pointer;
          position: relative;
      }
  }

  &:hover {
      background-color: $primary-color !important;
      color: $secondary-color;

      .nav-items a {
          color: $secondary-color;
      }

      .sign-up {
          border: 2px solid $secondary-color;
      }
  }
}
